body{
  font-family: 'Catamaran', sans-serif;
  color: black;
}
.container{
  max-width: 1100px;
}
h1{
  font-family: 'Permanent Marker', cursive;
}
.col-md-2 h1{
  font-size: 5em;
}
.playAgain{
  font-family: 'Permanent Marker', cursive;
}
.desaturate{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#player0Win {
  display: none;
}
#player1Win {
  display: none;
}
#gameScreen {
  display: none;
}
#startButton{
  border: 3px solid white;
  color: white;
  background: none;
  margin-top: 5px;
}
#startButton:hover{
background: rgba(255, 255, 255, 0.3);
}
label{
  color: white;
}
input{
  border-radius: 5px;
}
img#grass{
  position: relative;
  margin-top: 10%;
}
#startScreen{
  position: absolute;
  top: 150px;
  left: 10%;
  right: 10%;
  max-width: 1000px;
}
#startScreen {
  margin: 0 auto;
  text-align: center;
}
#startScreen h1{
  text-align: center;
  font-size: 10em;
  color: black;
}
form{
  margin-top: 10%;
}

#gameScreen {
  margin: 0 auto;
  text-align: center;
  margin-top: 8%;
}
#rollButton {
  margin-top: 50px;
}
.dieValue {
  font-size: 3em;
}
.background {
  background-color: crimson;
}
#player1Win, #player0Win{
  text-align: center;
}
.rules {
  text-align: left;
  max-width: 700px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 5px;
  padding-left: 15px;
  margin-top: 5%;
}
.playAgain:hover {
  cursor: pointer;
  color: crimson;
  text-decoration: underline;
}
@media (max-width:992px){
  #startScreen h1{
    font-size: 7em;
  }
  #startScreen{
    top: 80px;
  }
  form{
    margin-top: 2%;
  }
  .rules{
    margin-top: 2%;
  }
}
@media (max-width: 768px){
  img#grass{
    display: none;
  }
  #startScreen h1{
    font-size: 5em;
  }
  label{
    color: black;
  }
  #startButton{
    border: 3px solid black;
    color: black;
    background: none;
    margin-top: 5px;
  }
  #startButton:hover{
  background: rgba(0, 0, 0, 0.6);
  }
}
