.container{
  max-width: 1100px;
}

#player0Win {
  display: none;
}
#player1Win {
  display: none;
}
#gameScreen {
  display: none;
}
img#grass{
  position: relative;
  margin-top: 10%;
}
#startScreen{
  position: absolute;
  top: 150px;
  left: 10%;
  right: 10%;
  max-width: 1000px;
}
#startScreen {
  margin: 0 auto;
  text-align: center;
}
#startScreen h1{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 10em;
  color: black;
}
form{
  margin-top: 10%;
}

#gameScreen {
  margin: 0 auto;
  text-align: center;
}
#rollButton {
  margin-top: 100px;
}
.dieValue {
  font-size: 3em;
}
.background {
  background-color: crimson;
}
#player1Win, #player0Win{
  text-align: center;
}
.rules {
  text-align: left;
  max-width: 700px;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 15px;
  padding: 5px;
  margin-top: 5%;
}
.playAgain:hover {
  cursor: pointer;
  color: crimson;
  text-decoration: underline;
}
@media (max-width:992px){
  #startScreen h1{
    font-size: 7em;
  }
  #startScreen{
    top: 80px;
  }
  form{
    margin-top: 3%;
  }
  .rules{
    margin-top: 2%;
  }
}
@media (max-width: 768px){
  img#grass{
    display: none;
  }
  .rules{
    background-color: white;
    color: black;
  }
  #startScreen h1{
    font-size: 5em;
  }
}
